.navbar{
    background-color: transparent;
}

.navbar-nav{
    font-size: 14px;
    font-family: Verdana, tiketOdysseyText, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* second navbar */
#secNav{
    background-color: white;
    box-shadow: 0px 5px 30px #C9C7C7;
    display : none;
}

.awal{
    background: url('../Assets/bg_pemandangan.png') no-repeat center;
    background-size: cover;
    height: 400px;
}

.container-search{
    margin-top :50px;
}

.google{
    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
    background-color: #fff;
    width: 100%;
    height:73%;
}

.input-group-append{
    margin-left : -2px !important;
}

.input-group-prepend{
    margin-right: -2px !important;
}

.form-control :focus {
    
    color: #495057;
    background-color: #fff;
    border-color:#ced4da;
    outline: 0;
    box-shadow: 0px 0px 0px;
}

.form-control{
    border-right: 0 !important;
    border-left: 0 !important;
}

.btn-search{
    border: 1px solid #ced4da;
    background-color: #fff;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    height : 73%;
    width : 100%;
}

.input-text:focus { 
    box-shadow: 0px 0px 0px;
    outline: 0px;
}

.pesawat{
    display: block;
    margin-left: auto;
    margin-right: 10px;
    height: 75px;
    border: 5px solid rgba(255, 255, 255, .4);
}

.kereta{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 75px;
    border: 5px solid rgba(255, 255, 255, .4);
}

.pesawat:hover{
    border: 5px solid rgba(0, 116, 122, .4);
}

.kereta:hover{
    border: 5px solid rgba(0, 116, 122, .4);
}

.circle-icon{
    color: #fff;
    font-size: 25px;
}

.row{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.featurette-image{
    border: 5px solid #555;
}

/* Caousel */
.carousel-item img{
    width: 100%;
    min-height:275px;
    object-fit: cover;
    margin-bottom:2%;
}

/* Destination */
.hr-destination {
    margin: 5% 0; 
}

.title{
    margin-top: 10%;
    margin-bottom: 0%;
}

.subtitle{
    margin-top: 5%;
}

.content{
    text-align : justify;
    margin-top: 5%;
}

.content-link{
    margin-bottom: 5%;
}

.iconF{
    width: 30px;
    height: 30px;
}

.carousel ol li{
    list-style-type: none;
    margin: 3px;
}
