#secNav{
    background-color: white;
    box-shadow: 0px 5px 30px #C9C7C7;
}

body{
    font-family: 'verdana';
    font-size: medium;
}

/* background */
.A1{ 
    margin-top: 100px;
    background-color: #B7D6DC;
    padding-top: 30px;
    padding-bottom: 10px;
}

/* banner */
.A2 {
    background-color: #B7D6DC;
    height: 80px;
    margin-top: -10px;
}

.title-snk{
    text-align: center;
    font-weight: 700;
}

.vaksin{
    width: 160px;
    height: 160px;
    display: flex;
}

/* carousel */
.carousel-item img{
    width: 100%;
    min-height:275px;
    object-fit: cover;
}

.penumpang{
    margin-left: 30px;
}

.image{
    padding-top: 50px;
    padding-bottom: 100px; 
    width: 500px ;
    height: 250px;
    margin-left: 375px;
}

/* ticket box */
.A3 {
    margin-top: -70px;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    padding-bottom: 25px;
}

/* logo */
.a31{
    border-bottom: 1px solid rgb(147, 147, 147);
    padding-left: 70px;
    padding-right: 30px;
    padding-bottom: 20px;
    display: flex;
}

.ikonn{
    width: 30px;
    height: 30px;
}
.ikon{
    margin-bottom:30px;
    padding-left: 20px;
    padding-top: 20px;
}


.trip{
    display: flex;
}

/* data */
.a32{
    display: flex;
    border-bottom: 1px solid rgb(147, 147, 147);
}

.data{
    border: 1px solid rgb(147, 147, 147);
    font-size: 12px;
    padding : 15px;
}

.btn-cari{
    border-radius: 50px;
    padding:10px;
    border:0px;
}

.boxdk{
    border-radius: 50px;
}

.tombol{
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: 10px;
}

.haa1{
    border-right: 1px solid rgb(147, 147, 147);
}

.ha1{
    margin-top: 10px;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.iconF{
    width: 30px;
    height: 30px;
}

.pesawat{
    display: block;
    margin-left: auto;
    margin-right: 10px;
    height: 75px;
    border: 5px solid rgba(255, 255, 255, .4);
}

.kereta{
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 75px;
    border: 5px solid rgba(255, 255, 255, .4);
}

.circle-icon{
    color: #fff;
    font-size: 25px;
}

.row{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.qty{
    border-radius: 50px;
    border:3px solid #B7D6DC;
    padding-left: 10px;
    background-color:#B7D6DC;
}
