body{
    margin-top: 10px;
    margin-bottom: 50px;
}

a{
    text-decoration: none !important;
}

h1,h2,h3{
    font-family: 'Playlist Script', cursive;
}

.myform{
    position : relative;
    display: -ms-flexbox;
    display: flex;
    padding: 7%;
    -ms-flex-direction: column;
    flex-direction: column;
    width:100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border : 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
    box-shadow: 0px 10px 10px darkgrey;
}

.tx-tfm{
    text-transform: uppercase;
}

.mybtn{
    border-radius: 50px;
    
}

.login-or{
    position: relative;
    color : #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or{
    display: block;
    position: absolute;
    left : 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or{
    height: 1px;
    margin-top : 0px !important;
    margin-bottom: 0px !important;
}

.google{
    color: #666;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
}

form .error{
    color : #ff0000;
}

#second{
    display:none;
}

/* .hide-show{
    width: 94%;
    margin: -3.62em 3% 0 1.5%;
    position: relative;
    z-index: 5;
    display: none;
   
    span {
      background: $maincolor;
      font-size: 1em;
      padding: .5em;
      float: right;
      @include border-radius(5px);
      cursor: pointer;
    };
  } */

/* .hideShow{
    background-color: grey;
    color: white;
    width: 15%;
    height: 30px;
    z-index: auto;*/
    /* margin : 0 0 33px 84%; */
    /* margin-bottom: -50px;
    padding-left: 10px;
    border-radius: 5px; */
/* } */

.hsPw{
    margin-bottom: -25px;
    margin-left: 90%;
    position: relative;
    z-index: top;
    display: flex;
}

/* .hideShow{
    background-color: grey;
    color: white;
    cursor: pointer;
    /* width: 15%; */
    /* height: 30px; */
    /* z-index: auto; */
    /* padding: 5px; */
    /* margin : 0 0 33px 84%; */
    /* margin-bottom: -50px;
    padding-left: 10px;*/
    /* border-radius: 5px; 
}  */
