<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="icon" href="/assets/logo1.svg" type="image/svg+xml" sizes="2x2">
    </head>
    <body>
        
        <center><a href="/"><img class="icon" src="/assets/logo2.svg" width="150" ></a></center>

        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div id="first">
                        <div class="myform form">
                            <div class="logo mb-3">
                                <div class="col-md-12 text-center">
                                    <h1>Login/Masuk</h1>
                                </div>
                            </div>
                            <form action="/user" method="post" name="login">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Masukkan Email" required>     
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <span class="hsPw"><i id="eye" class="fa fa-eye input-eye-icon"></i></span>
                                    <input type="password" name="password" id="password" class="form-control mt-1" aria-describedby="emailHelp" placeholder="Masukkan Password" pw-shown="true">
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm">Login</button>
                                </div>
                                <div class="form-group">
                                    <p class="text-center">Belum Punya Akun ? <a href="/register" id="signup">Sign Up Disini</a></p>
                                </div>
                            </form>    
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="container">
            <br>
            <p class="text-center">&copy; 2022 Company, Inc. &bull; All Rights Reserved</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <script src="/js/login.js"></script>
    </body>
</html>