#firstnav{
  background-color: white;
  border-bottom: 1px solid #C9C7C7;
  z-index: auto;
  font-size: 14px;
  font-family: Verdana, tiketOdysseyText, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#secnav{
  background-color: white;
  box-shadow: 0px 5px 5px #C9C7C7;
}

.nav2{
  border-left: 1px solid #C9C7C7;
}

.nav3{
  border-left: 3px dashed #C9C7C7;
}

.pesawat-icon{
  width: 60px;
}

.icon-panah{
  transform : rotate(45deg);
}

.dropdown-check-list {
display: inline-block;
}

.dropdown-check-list .anchor {
position: relative;
cursor: pointer;
display: inline-block;
padding: 5px 50px 5px 10px;
}

.dropdown-check-list .anchor:after {
position: absolute;
content: "";
border-left: 2px solid black;
border-top: 2px solid black;
padding: 5px;
right: 10px;
top: 20%;
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
right: 8px;
top: 21%;
}

.dropdown-check-list ul.items {
padding: 2px;
display: none;
margin: 0;
border-top: none;
}

.dropdown-check-list ul.items li {
list-style: none;
}

.btn-search{
  border-radius: 50px;
  margin-right: -50px;
  margin-left: 40px;
}

.header{
background-color: #d9d9d9;
border: 1px solid #f2f2f2;
}

.order{
background: #fff;
border: 1px solid #f2f2f2;
}

.harga-pesawat1{
font-size:18px;
font-weight: bold;
color:#256D85;
}

.harga-pesawat2{
font-size:48px;
font-weight: bold;
color:#256D85;
}

.btn-caritiket{
border-radius: 50px;
margin-left: 10px;
padding:  8px 20px;
border: none;
}

.order{
margin-bottom:20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.order-form{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pesawat{
display: block;
margin-left: auto;
margin-right: 10px;
height: 75px;
border: 5px solid rgba(255, 255, 255, .4);
}

.kereta{
display: block;
margin-left: 0;
margin-right: auto;
height: 75px;
border: 5px solid rgba(255, 255, 255, .4);
}

.iconF{
width: 30px;
height: 30px;
}

