<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="css/destinasi.css">
    <link rel="icon" href="assets/logo1.svg" type="image/svg+xml" sizes="2x2">
    <title>PigiPigi</title>
</head>
<body>
  <!-- Navbar -->
  <%- include('../partials/secondNavbar',  {page: 'destinasi'}); %>

  
    <div class="container">
      <br>
        <div class="row">
          <div class="col-md-9 text-left">
            <h1 class="title-heading">5 Tempat Destinasi di Bogor</h1>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi quis commodo odio aenean sed adipiscing. Egestas purus viverra accumsan in nisl nisi. 
              Consectetur adipiscing elit pellentesque habitant morbi tristique. Eu feugiat pretium nibh ipsum. A diam sollicitudin tempor id. Amet mauris commodo quis imperdiet massa tincidunt nunc. Vitae justo eget magna fermentum iaculis eu non diam. 
              Et netus et malesuada fames ac turpis egestas maecenas. Tortor dignissim convallis aenean et tortor. Cras adipiscing enim eu turpis egestas pretium.</p>
            <p class="content">Vitae congue eu consequat ac felis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Id aliquet lectus proin nibh nisl condimentum id venenatis a. Odio morbi quis commodo odio aenean sed. Id aliquet lectus proin nibh nisl condimentum id venenatis. 
              Urna cursus eget nunc scelerisque viverra mauris. Fermentum leo vel orci porta. Luctus accumsan tortor posuere ac ut consequat semper viverra nam. Purus non enim praesent elementum facilisis leo. Bibendum arcu vitae elementum curabitur. Urna condimentum mattis pellentesque id nibh tortor id.</p>
            
              <h3 id="1">1. Situ Gede</h3>
              <img class="gambar" src="https://images.tokopedia.net/img/JFrBQq/2022/6/20/b3e22732-ee1f-4e89-a0fb-16a98fcb7392.jpg">
              <p class="content">
                Situ Gede adalah nama sebuah danau (Sd., situ atau setu berarti telaga, gede berarti besar) yang terletak di Kelurahan Situgede, Bogor Barat, Kota Bogor.
                Terletak di tepi Hutan Dramaga, yakni hutan penelitian milik Badan Litbang Kehutanan, Departemen Kehutanan, telaga yang memiliki luas sekitar 6 hektare ini merupakan tempat rekreasi harian bagi warga Bogor. Para pengunjung dapat berperahu, memancing, atau berjalan-jalan di kerimbunan hutan. Danau dan hutan ini pun kerap digunakan sebagai lokasi pembuatan film dan sinetron.
              </p>   
              <p class="content">
                Lokasi wisata ini berada kurang lebih 10 km dari pusat Kota Bogor, atau sekitar 3 km di utara Terminal Bubulak. Situ Gede sebetulnya berdekatan, atau berada dalam satu sistem, dengan beberapa situ yang lain di dekatnya. Yakni Situ Leutik (kini sudah menghilang), Situ Panjang, dan Situ Burung. Yang terakhir ini terletak di Desa Cikarawang, Kecamatan Dramaga, Kabupaten Bogor.
              </p> 
                
              <h3 id="2">2. Kebun Raya Cibodas</h3>
              <img class="gambar" src="https://travelspromo.com/wp-content/uploads/2019/01/Kebun-Raya-Cibodas-Shooting-film.jpg">
              <p class="content">Kebun Raya Cibodas Bogor merupakan UPT balai Konservasi tumbuhan Kebun raya Cibodas di bawah pusat konservasi Kebun Raya Bogor. Lokasinya berada di antara gunung Gede dan Pangrango di ketinggian 1425 di atas permukaan laut. Areanya sejuk menempati lahan setidaknya seluas 85 Ha.
                 Selain sebagai balai konservasi, Kebun Raya ini juga membuka diri untuk melayani masyarakat sesuai dengan kebutuhannya. Banyak layanan yang ditawarkan kepada masyarakat diantaranya pendidikan Lingkungan dan penelitian. Namun, Kebun Raya ini juga menjadi destinasi wisata karena kesejukan dan keindahan pemandangannya.</p>

              <h3 id="3">3. Talaga Saat</h3>
              <img class="gambar" src="https://asset.kompas.com/crops/jngDJNX3PalpLjvqwnT6C7Vh63Q=/0x35:719x515/750x500/data/photo/2021/06/03/60b8d270e96e9.jpg">
              <p class="content">Nama tempat wisata di Bogor terbaru ini adalah Telaga Saat. Lokasinya yang diapit perkebunan teh, perbukitan dan pepohonan membuat Telaga Saat sangat eksotis. Tempat yang masih jarang dikunjungi ini memiliki air yang sangat jernih, udara sejuk dan panorama yang menyegarkan mata.
                 Bagi kamu yang suka mengabadikan momen dengan berfoto, ada spot bagus yakni di sebuah gazebo yang membelakangi perbukitan dan telaga.</p>
              
              <h3 id="4">4. Panorama Pabangbon</h3>
              <img class="gambar" src="https://cdn.nativeindonesia.com/foto/wisata-pabangbon/suasana-wisata-panorama-pabangbon.jpg">
              <p class="content">Bogor adalah surganya wisata alam. Bagi kamu yang ingin melihat pemandangan berupa bentang alam dan hutan-hutan di kawasan Bogor, kamu bisa mengunjungi tempat wisata satu ini.
                Panorama Pabangbon merupakan puncak hutan pinus. Tidak heran jika ada banyak spot foto instagramable di sini. Bahkan beberapa di antaranya sudah didekorasi sedemikian rupa oleh pengelola sehingga kita tidak perlu repot mencari tempat foto terbaik.</p>
  
              <h3 id="5">5. Curug Cikuluwung</h3>
              <img class="gambar" src="https://asset.kompas.com/crops/FU8nMbpwD9_YYJzKGAC7q1rXF0U=/82x0:670x392/750x500/data/photo/2021/10/15/616968c3e45cd.jpg">
              <p class="content">Curug Cikuluwung merupakan salah satu obyek wisata alam berupa air terjun yang ada di Bogor. Air terjun ini tepatnya terletak di Kampung Suka Asih, Desa Cibitung Wetan, Kecamatan Pamijahan, Kabupaten Bogor, Jawa Barat.  
                Tempat wisata tersebut menyuguhkan dua buah air terjun dengan daya tarik masing-masing. Curug Cikuluwung 1 menawarkan air terjun tersembunyi dengan air berwarna kehijauan, sedangkan Curug Cikuluwung 2 menawarkan air terjun dengan kolam luas di bawahnya.</p>
            </div>
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-3">
            <div class="box">
              <h6 class="title1">Topik</h6>
              <ol>
                <li><a href="#1">Situ Gede</a></li>
                <li><a href="#2">Kebun Raya Cibodas</a></li>
                <li><a href="#3">Talaga Saat</a></li>
                <li><a href="#4">Panorama Pabangbon</a></li>
                <li><a href="#5">Curug Cikuluwung</a></li>
              </ol>
            </div>
          </div>
        </div>
    </div>

</body>
</html>